---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../utils";

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog'); // gets all the articles

const tags: string[] = allBlogArticles.flatMap((article: any) => article.data.tags) // gets all the tags and some will repeat

// console.log(tags)

const uniqueTags: string[] = [...new Set(tags)]; // gets unique tags and removes duplicates
console.log(uniqueTags)

const sortedUniqueTags: string[] = uniqueTags.sort((a, b)=> (a > b ? 1 : -1));

console.log(`Sort unique tags`)
console.log(sortedUniqueTags)
---

<footer class="bg-retro-orange text-white">
    <div class="container mx-auto mt-10 max-w-screen-xl px-8">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4">
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">My Triumphs, My Mistakes</h3>
          <p class="text-white text-sm">
            I guess I'm going to blog about my code and development journey in 2025.
          </p>
        </div>
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">Categories</h3>
          <ul class="text-white text-sm">
            {sortedUniqueTags.map(tag => (
              <li class="mb-2">
                <a href={'/articles/tag/' + tag}>#{capitalize(tag)}</a>
              </li>
            ))}
          </ul>
        </div>
        <div class="mt-10">
          <h3 class="text-xl font-semibold mb-4">Contact</h3>
          <ul class="text-white text-sm">
            <li class="mb-2">
              <a href="mailto:eric@ericqyhan.com">Email</a>
            </li>
            <li class="mb-2">
              <a href="https://bsky.app/profile/dianhuaphreaker.bsky.social">Bluesky</a>
            </li>
            <li class="mb-2">
              <a href="https://github.com/EricqyHan">Github</a>
            </li>
          </ul>
  </footer>